<div class="container" >
    <br />

    <!-- Phần menu -->
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Trang Chủ</a></li>
                <li class="breadcrumb-item"><a routerLink="/food">Các Món Ăn Miền Nam</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi tiết món</li>
            </ol>
        </nav>
    </div>
    <!-- Phần menu -->


    <div id="top-item">

        <div class="row">
            <div class="col">

                <img src="{{food_detail.img}}" class="roundedest shadow p-2 mb-3 bg-white " alt="Cinque Terre" style="width: 35rem; height: 25rem;">


            </div>
            <div class="col">
                <!-- Tên món ăn được chọn -->
                <div>
                    <h2>
                        {{food_detail.Foodname}}
                    </h2>
                </div>
                <!-- Tên món ăn được chọn -->

                <!-- Giới thiệu sơ lược món ăn -->
                <div>
                    <span>
                        {{food_detail.info}}
                    </span>
                </div>
                <!-- Giới thiệu sơ lược món ăn -->

                <!-- Button Xem video  -->
                <div>
                    <a href="https://youtu.be/8nqcdR596V0"><button type="button" style="width: 20rem;" class="btn btn-danger">Xem
                            Video</button></a>
                    <!-- đặt món-->

                    <button style="margin: 1rem" type="button" class="btn btn-secondary btn-sm" routerLink="/fooddetail/{{food_detail.id_product}}">
                    
                        <i class="fa fa-print" ></i> Đạt món</button>
                    <!-- Bình chọn -->
                    <button type="button" class="btn badge-secondary">
                        <i class="fa fa-heart" style="font-size:20px;color:red; margin-right: 0.5em;"></i>Bình chọn
                        <span class="badge badge-light">4</span>
                    </button>
                    <button style="margin-left: 0.5em;" type="button" class="btn btn-secondary"><i class="	fab fa-facebook-square fa-spin facebook"></i> Chia sẽ</button>
                </div>
                <!-- Button Xem video  -->
                <div style="margin: 0.5rem">
                    <!-- Đánh giá sao -->
                    <div class="stars float-left">
                        <form action="">

                        <input class="star star-5" id="star-5" type="radio" name="star" >
                        <label class="star star-5" for="star-5" ></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" >
                        <label class="star star-4" for="star-4" ></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" >
                        <label class="star star-3" for="star-3" ></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" >
                        <label class="star star-2" for="star-2" ></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" >
                        <label class="star star-1" for="star-1" ></label>
                    </form>
                </div>
                    <!-- Đánh giá sao -->
                </div>
                <div  style="width: 100%;float:left" >
                        <h5> <strong>Giá</strong> : {{food_detail.tongtien}}.000đ</h5>
                            
                        </div>


            </div>
        </div>

        <div class="row">
            <!-- Phần chi tiết nguyên liệu -->
            <div class="col-4 roundedest shadow p-2 mb-3 bg-white">
                <ul>
                    <h3 style="font: italic bold 30px/70px Comic Sans MS, cursive, sans-serif; color: red;">Nguyên Liệu</h3>
                </ul>

                <p>{{nguyenlieu.nguyenlieu1}}</p>
                <p>{{nguyenlieu.nguyenlieu2}}</p>
                <p>{{nguyenlieu.nguyenlieu3}}</p>
                <p>{{nguyenlieu.nguyenlieu4}}</p>
                <p>{{nguyenlieu.nguyenlieu5}}</p>
                <p>{{nguyenlieu.nguyenlieu6}}</p>
                <p>{{nguyenlieu.nguyenlieu7}}</p>
                <p>{{nguyenlieu.nguyenlieu8}}</p>
                <p>{{nguyenlieu.nguyenlieu9}}</p>
                <p>{{nguyenlieu.nguyenlieu10}}</p>
                <p>{{nguyenlieu.nguyenlieu11}}</p>
                <p>{{nguyenlieu.nguyenlieu12}}</p>
                <p>{{nguyenlieu.nguyenlieu13}}</p>
                <p>{{nguyenlieu.nguyenlieu14}}</p>
                <p>{{nguyenlieu.nguyenlieu15}}</p> <br>

                <p>M: muỗng canh - m: muỗng cafe</p>


            </div>
            <!-- Phần chi tiết nguyên liệu -->
            <!-- Phần Hướng dẫn thực hiện -->
            <div class="col-8 roundedest shadow p-2 mb-3 bg-white">
                <h3 style="font: italic bold 20px/60px Comic Sans MS, cursive, sans-serif; color: red;">1. Sơ Chế:</h3>
                <p>{{food_detail.soche1}}</p>
                <p>{{food_detail.soche2}}</p>
                <p>{{food_detail.soche3}}</p>
                <p>{{food_detail.soche4}}</p>
                <h3 style="font: italic bold 20px/60px Comic Sans MS, cursive, sans-serif; color: red;">2. Thực Hiện:</h3>
                <p>{{food_detail.thuchien1}}</p>
                <p>{{food_detail.thuchien2}}</p>
                <p>{{food_detail.thuchien3}}</p>
                <p>{{food_detail.thuchien4}}</p>
                <p>{{food_detail.thuchien5}}</p>
                <p>{{food_detail.thuchien6}}</p>
                <h3 style="font: italic bold 20px/60px Comic Sans MS, cursive, sans-serif; color: red;">3. Cách Dùng:</h3>
                <p>{{food_detail.cachdung}}</p>

            </div>
            <!-- Phần Hướng dẫn thực hiện -->

        </div>

    </div>
    <br />
    <br />
  
    <br />
    <br />

    <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/food">Xem Các Món Khác</button>
    <!-- (click)="goBack()" -->
    <br />
    <br />
    <br />
</div>