
<section class="banner-area  ">
  <div class="container-12 ">
    <section class="menu">
      <div class="row ">
        <div class="col " style="margin: 1.8em;">
          <!-- MEnu -->
          <nav>
            <ul class="mcd-menu shadow p-2 mb-3 bg-white rounded" >
              <li >
                <a routerLink="/food" (click)="demo()">
                  <i class="fas fa-bars"></i>
                  <strong >Các Món Ăn Miền nam</strong>
                  <small>All Southern dishes</small>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="active">
                  <i class="fa fa-home"></i>
                  <strong>Trang Chủ</strong>
                  <small>sweet home</small>
                </a>
              </li>
              <li>
                <a routerLink="/thongtin">
                  <i class="fa fa-gift"></i>
                  <strong>Thông Tin hữu ích</strong>
                  <small>more information</small>
                </a>
              </li>
              <li>
                <a routerLink="/foodfamous">
                  <i class="fa fa-globe"></i>
                  <strong>Các Món Ăn Nổi bật</strong>
                  <small>5 star food</small>
                </a>
              </li>
              <li>
                <a routerLink="/login">
                  <i class="fas fa-door-open"></i>
                  <strong> Đăng Nhập</strong>
                  <small>login</small>
                </a>
                <ul>
                  <li><a routerLink="/login"><i class="fa fa-globe"></i>Đã là thành viên</a></li>
                  <li>
                    <a routerLink="/dangky"><i class="fa fa-group"></i>Đăng ký</a>

                  </li>
                  <li><a href="#"><i class="fa fa-trophy"></i>Khách</a></li>
                  <li><a href="#"><i class="fa fa-certificate"></i>Trợ giúp</a></li>
                </ul>
              </li>
              <li>
                <a routerLink="/hinhanh">
                  <i class="fa fa-picture-o"></i>
                  <strong>Album Hình Các Món Ăn</strong>
                  <small>Spice</small>
                </a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#myModal" routerLink="/info">
                  <i class="fab fa-google-wallet"></i>
                  <strong>Liên Hệ Với Chúng Tôi</strong>
                  <small>Contact us</small>
                </a>
              </li>
              <li class="float">
                <a class="search">
                  <div class="container">
                    <nav>
                      <ul class="mcd-menu">
                        <li>
                          <a>
                            <i class="fa fa-home"></i>
                            <strong>Trang chủ</strong>
                            <small>sweet home</small>
                          </a>
                        </li>
                        <li>
                          <a href="" class="active">
                            <i class="fa fa-edit"></i>
                            <strong>Các Món Ăn Miền Nam</strong>
                            <small>sweet home</small>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-gift"></i>
                            <strong>Thông tin Hữu ích</strong>
                            <small>sweet home</small>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-globe"></i>
                            <strong>Các món ăn nổi bật</strong>
                            <small>sweet home</small>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-comments-o"></i>
                            <strong>Liên hệ</strong>
                            <small>what they say</small>
                          </a>
                          <ul>
                            <li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
                            <li>
                              <a href="#"><i class="fa fa-group"></i>Our Team</a>
                              <ul>
                                <li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
                                <li>
                                  <a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
                                  <ul>
                                    <li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
                                    <li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
                                  </ul>
                                </li>
                                <li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
                              </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
                            <li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
                          </ul>
                        </li>

                      </ul>
                    </nav>
                  </div>
                </a>

              </li>
            </ul>
          </nav>
          <hr />

        </div>
        <section>
          <div class="col">
            <br><br><br><br><br><br>
            <h4 class="topic">ĐẶC SẢN <BR> MIỀN NAM</h4>
          </div>
        </section>
        
      </div>
    </section>
  </div>
</section>
