<div class="container">
  <br />
  <br />
  <br />
  <br />
  <!-- Form Login -->
  <div style="text-align: center">
          <h4 style="font: italic bold 30px/70px Comic Sans MS, cursive, sans-serif; color: darkslategray;">Đăng Nhập</h4>
        </div>

  <form>
      <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-7">


              <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Email">
          </div>
          <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Username</label>
              <div class="input-group mb-2">
                  <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" value="gmail.com" placeholder="gmail.com">
              </div>
          </div>
          

      </div>
      <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
              <input type="password"  class="form-control" id="inputPassword3" placeholder="Password">
          </div>
      </div>
      <fieldset class="form-group">
          <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">
                  <!-- //// -->
              </legend>
              <div class="col-sm-10">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                      <label class="form-check-label" for="gridRadios1">
                          Nhớ mật khẩu
                      </label>
                  </div>

              </div>
          </div>
      </fieldset>
      <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
              <div class="form-check">
                  <label class="form-check-label" for="gridCheck1">
                    <a routerLink="/dangky"class="card-link"> * Đăng ký tài khoản</a>
                  </label>
              </div>
          </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
      </div>
  </form>
  <!-- Form Login -->

</div>